body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}



.input_container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 30%;
    height: 30%;
    /*max-width: 1000px;*/
    overflow:auto;
    
}


textarea {

    /*height: 100%;*/
   /* position: sticky;*/
    height: 15em;
    width: 75%;
    
    
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    

}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 16px;
    width: 50%;
    height:100%;
}

button:hover {
    background-color: #0056b3;
}


p {
    color: #666;
    margin-top: 20px;
    font-family: Garamond;

}

.response_container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background: rgb(233, 231, 231);
    box-shadow: 0 4px 8px rgba(.1,.2,.2,0.1);
    width: 30%;
    height: 30%;
    /*max-width: 1000px;*/
    overflow:auto;
}

