body {
    font-family: "Poppins", sans-serif;
    margin: 0; /* need to add margin:0 to ensure navbar aligns properly */
    padding: 0;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #E7ECFF;
    padding-left: 0;
}

/* for the title,text and button */
.write_it_content{
    margin:0;
    min-width: 50px;
    min-height: 50px;
    text-align: left;
    position:absolute;
    left: 5%; 
    top:10%;
}


/* big bg vertcal container */
.bg_container {
    position: absolute;  
    margin: 0;          
    top: 22%;           
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    width: 20%;         
    height: 60vh;     
    left: 65%;           
    z-index: 0;
    min-width: 400px;
    min-height: 500px;
}


.bg_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* cubical foreground larger container*/
.large_container{
    margin:0;
    text-align: center;
    padding: 10px;
    top: 27%; /* adjust from the top to bottom */
    position: absolute;
    border-radius: 8px;
    background: #fffaf0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 10vw;
    height: 17vh;
    overflow:hidden;
    margin-left: 58%;
    padding-bottom: 0;
    z-index: 1;
    min-width: 200px;
    min-height: 150px;
}

/* cubical foreground medium container*/
.medium_container{
    margin:0;
    text-align: center;
    padding: 10px;
    top: 50%; /* height from top */
    position: absolute;
    border-radius: 8px;
    background: #fffaf0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 8vw;
    height: 15vh;
    overflow:auto;
    margin-left: 83%; 
    padding-bottom: 0;
    z-index: 1;
    min-width: 175px;
    min-height: 100px;
}

/* cubical foreground larger container*/
.small_container{
    margin:0;
    text-align: center;
    padding: 10px;
    top: 78%; /* height from top */
    position: absolute;
    border-radius: 8px;
    background: #fffaf0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 5vw;
    height: 9vh;
    margin-left: 70%; /* align to the left */
    padding-bottom: 0px;
    z-index: 1;
    overflow:clip;
    min-width: 120px;
    min-height: 70px;
}

.intro_title{
    margin:0;
    margin-top:15%;
    color: black;
    border: none; 
    background-color: transparent; 
    border-radius: 0;
    padding: 0; 
    font-size: 55px;
    width: 25%;
    height: 20%;
    overflow:visible;
}

.intro_text {
    margin-top:10%;
    color: rgb(92, 92, 92);
    border: none; 
    background-color: transparent;
    border-radius: 0;
    padding: 0; 
    font-size: 20px;
    width: 65%;
    height: 20%;
    text-overflow: ellipsis;
}

.intro_button {
    text-align: center;
    margin-top:5%;
    height: 5vh;
    width: 10%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    padding:10px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

button:hover{
    opacity: 70%;
}


p {
    font-weight: bold;
    font-size: 12px;
    color:grey;
    margin:0;
}

.paper_img {
    width: 60%;
}

.emoji {
    width:20%;
}
.leaderboard_img {
    margin:0;
    right: 4%;
    width:100%;
}

.writer_img {
    width: 70%;
}

.write_text{
    font-size: 14px;
 
}

@media (max-width: 1200px) {
    .bg_container, .large_container, .medium_container, .small_container {
        display: none;
    }
}