<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css"> 
    <link rel="stylesheet" href="/static/css/about.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/difficulty">Difficulty</a>
        <a href="/rankings">Rank Ladder</a>
        <a href="/about" class="active">About</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="auth-link">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="auth-link">Login</a>
            <a href="{{ url_for('create_account') }}" class="auth-link">Sign Up</a>
        {% endif %}
    </div>
    <h1 class="mode">About Us</h1>
    <div class="container">
        <!-- small about us explanation -->
        <p>Welcome to WriteIt, where writing becomes a fun and engaging journey with AI-powered analysis and scoring. Our platform offers a variety of writing prompts that gets the brain thinking, from everyday exercises to syntactic and grammatical challenges. With AI, we evaluate your writing and provide detailed feedback and scores to help you improve. Join our community, participate in daily writing challenges, and climb the rankings to see how you compare with other writers. Whether you're an aspiring novelist, a seasoned writer, or just enjoy occasional writing exercises, WriteIt is the perfect place to sharpen your skills and have fun with words. Dive into our prompts, get instant AI feedback, and watch your writing flourish. This is all in good fun with the goal being help you, the writer, excersise the creativity muscle!</p>
    </div>  
    <!-- important img for eye catching purposes -->
    <img class="cat_book" src="/static/images/cat_book.jpg" alt="Image of cat with book"> 
</body>
</html>