<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css"> 
    <link rel="stylesheet" href="/static/css/analysis.css"> 

    <title>Analysis</title>
</head>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/difficulty"> Difficulty</a>
    <a href="/prompt">Prompt</a>
    <a href="/rankings">Rank Ladder</a>
    <a href="/about">About</a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="auth-link">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="auth-link">Login</a>
        <a href="{{ url_for('create_account') }}" class="auth-link">Sign Up</a>
    {% endif %}
</div>
<body>
    <!-- main_container is larger than body by 100% height, making the page scrollable -->
    <div class="main_container">
        <div class="main_title_container">
            <h1 class="analysis_title">
                Analysis
            </h1>
        </div>
        <!-- big container #1 - has feedback summary and score. all analysis info -->
        <div class="analysis_container">
            <div class="score_and_numeric">
                <div class="score">
                    Score:
                </div>
                <div class="numeric_score">
                    <!-- grab the score from from flask, ensured it is an integer -->
                    <p>{{response_list[2]}}</p>
                </div>
            </div>
            <h2 class="feedback_title">
                <p>
                    Feedback
                </p>
            </h2>
            <div class="feedback_container">
                <ul>
                    <li>
                        <!-- grab feedback from flask -->
                        {{response_list[1]}}                    
                    </li>
                </ul>
            </div>
            <div class="img_illustration_analysis">
                <img class="pencil_paper" src="/static/images/pencil_paper.png" alt="Image of pencil and paper">  
            </div>
        </div>

        <!-- big container #2 - has brief analysis of key moments and grammar highlights -->
        <div class="highlights_and_moments">
            <h1 class="Grammar_key_moments_title">
                Key Moments
            </h1>
            <!-- setting up for resolution changes, stack the highlights on top of eachother -->
            <div class="row">
                <div class="column">
                    <h2 class="highlights_title">
                        Highlights
                    </h2>
                    <div class="highlights_container_1">
                        <ul>
                            <li>
                                <!-- each text quoted from user has analysis corresponding to it -->
                                <strong>Sentence:</strong>  
                                {{text_parts[0]}} 
                                <br>
                                <strong>Commentary:</strong> 
                                {{analysis_parts[0]}} 
                                
                                <br>
                            </li>
                        </ul>
                    </div>
                    <div class="highlights_container_2">
                        <ul>
                            <li>
                                <!-- each text quoted from user has analysis corresponding to it -->
                                <strong>Sentence:</strong> 
                                {{text_parts[1]}} 
                                <br>
                                <strong>Commentary:</strong> 
                                {{analysis_parts[1]}} 
                                <br>
                            </li>
                        </ul>
                    </div>
                    <div class="img_illustration_highlights">
                        <img class="clipboard" src="/static/images/signature.png" alt="Image of clipboard">  
                    </div>
                </div>
                <div class="column">
                <div class="img_illustration_moments">
                    <img class="certificate" src="/static/images/certificate.png" alt="Image of certificate">  
                </div>
                <h2 class="moments_title">
                    Grammar Breakdown
                </h2>
                <div class="moments_container_1">
                    <ul>
                        <li>
                            <!-- each text quoted from user has analysis corresponding to it -->
                            <strong>Sentence:</strong>  
                            {{text_parts2[0]}} 
                            
                            <br>
                            <strong>Commentary:</strong> 
                            {{analysis_parts2[0]}}
                            
                            <br>
                        </li>
                    </ul>
                </div>
                <div class="moments_container_2">
                    <ul>
                        <li>
                            <!-- each text quoted from user has analysis corresponding to it -->
                            <strong>Sentence:</strong> 
                            
                            {{text_parts2[1]}}
                            <br>
                            <strong>Commentary:</strong> 
                            {{analysis_parts2[1]}}
                            <br>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>