<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css"> 
    <link rel="stylesheet" href="/static/css/difficulty.css"> 

    <title>difficulty</title>
</head>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/difficulty" class = "active">Difficulty</a>
    <a href="/prompt">Prompt</a>
    <a href="/rankings">Rank Ladder</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="auth-link">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="auth-link">Login</a>
        <a href="{{ url_for('create_account') }}" class="auth-link">Sign Up</a>
    {% endif %}
</div>

<body>
    <h1 class="choose_mode">Choose Mode</h1>
    <div class="row">
        <div class="column">
            <div class="container normal_container">
                <h2>Normal</h2>
                <button type="button" class="normal_prompt_button">Write-It</button>

            </div>   
        </div>  
        <div class="column">
            <div class="container challenge_container">
                <h2>Challenge</h2>
                <button type="button" class="challenge_prompt_button">Write-It</button>

            </div>
        </div>
        <div class="column">
            <div class="container creative_container">
                <h2>Creative</h2>
                <button type="button" class="creative_prompt_button">Write-It</button>

            </div>
        </div>
    </div>

</body>
</html>
