<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css"> 
    <link rel="stylesheet" href="/static/css/landing_page.css"> 
    <title>Landing Page</title>
</head>

<div class="topnav">

    <a class="active" href="/">Home</a>
    <a href="/difficulty">Difficulty</a>
    <a href="/rankings">Rank Ladder</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>

<body>
    <div class="row">
        <div class="column">
            <div class="content_container"> 
                <div class="bg_container">
                </div>

                <div class="large_container"> 
                </div>

                <div class="medium_container">   
                </div>

                <div class="small_container">    
                </div>
            </div>
        </div>

    <div class="column">
        <div class="write_it_content">
            <h1 class="intro_title">Write-It</h1>  
            <p class="intro_text">Our fun way to practice writing in multiple creative ways utilizing most advanced tools on the market.</p>

            <a class = "difficulty_nav", href="/difficulty">
                <button type="button" class="intro_button">Write-It</button>
            </form>
        </div>
    </div>
</div>



</body>
</html>
