<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css"> 
    <link rel="stylesheet" href="/static/css/prompt.css"> 
    <script src="/static/js/timer.js" defer></script>
    <title>Countdown Timer</title>
</head>
<div class="topnav">
    <a href="/">Home</a>
    <a href="#difficulty">Difficulty</a>
    <a href="#rankings">Rank Ladder</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="auth-link">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="auth-link active">Login</a>
        <a href="{{ url_for('create_account') }}" class="auth-link">Sign Up</a>
    {% endif %}
</div>
<body>
    <div class="container">
        <div id="timer" class="timer">05:00</div>
        <div class="prompt-box">
            <p>{{response_text}}</p>
        </div>
        <form action="/analysis" method="post">
            <div class="writing-area">
                <textarea name="inputEssay" placeholder="Start writing here..."></textarea>
            </div>
            <button type="submit" class="analysis_button">Submit</button>
        </form>
    </div>


</body>
</html>
