<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css"> 
    <link rel="stylesheet" href="/static/css/prompt.css"> 
    <script src="/static/js/prompt_script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Prompt</title>
</head>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/difficulty">Difficulty</a>
    <a href="/rankings">Rank Ladder</a>
    <a href="/about">About</a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="auth-link">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="auth-link">Login</a>
        <a href="{{ url_for('create_account') }}" class="auth-link">Sign Up</a>
    {% endif %}
</div>
<body>
    <div class="container">
        <!--different timers for different modes -->
        {% if current_mode == "normal" %}
            <div id="timer" class="timer">10:00</div>
        {% elif current_mode == "challenge" %}
            <div id="timer" class="timer">20:00</div>
        {% elif current_mode == "creative" %}
            <div id="timer" class="timer">15:00</div>
        {% endif %}

        <!-- for the prompt given from flask -->
        <div class="prompt-box">
            <p>{{response_text}}</p>
        </div>
        <form id="essayForm" action="/analysis" method="post">
            <!--pass difficulty to next page to store in mongo, put as hidden-->
            <input type="hidden" name="mode" value="{{ current_mode }}">
            <div class="writing-area">
                <textarea name="inputEssay" placeholder="Start writing here..."></textarea>
                <!-- showing number of chars written inside the essay box -->
                <div id="charCount">0 / 4000</div>
            </div>
            <!-- leads to analysis page -->
            <button type="submit" class="analysis_button">Submit</button>
        </form>
        <div id="loading_message" class="hidden">Good job! Analyzing your text for feedback...
        </div>
            <script src="/static/js/loading_script_prompt.js"></script>
        </div>
        <!-- either too many chars or not enough chars error -->
        <div id="validationMessage" style="color: red;"></div>
    </div>


</body>
</html>
