<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css"> 
    <link rel="stylesheet" href="/static/css/rankings.css"> 
    <title>Rankings</title>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/difficulty">Difficulty</a>
        <a href="/prompt">Prompt</a>
        <a href="/rankings" class="active">Rank Ladder</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="auth-link">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="auth-link">Login</a>
            <a href="{{ url_for('create_account') }}" class="auth-link">Sign Up</a>
        {% endif %}
    </div>

    <h1 class="leaderboard">Leaderboard</h1>
    <div class="row">
        <!-- normal table -->
        <div class="column">
            <h>Normal Rankings</h>
            <table class="normal_ranking">
                <tr>
                    <th class="rank">Rank</th>
                    <th class="name">Name</th>
                    <th class="score">Score</th>
                    <th class="article">Read Article</th>
                </tr>
                {% for user in top_normal %}
                <tr class="normal_place">
                    <td>{{ loop.index }}</td>
                    <td><p>{{ user[1]}}</p></td>
                    <td>{{ user[0]}}</td>
                    <td>
                        <form action="/read" method="POST">
                            <input type="hidden" name="mode" value="{{user[3]}}">
                            <input type="hidden" name="user_id" value="{{user[2]}}">
                            <button type="submit">Read-It</button>
                        </form>
                    </td>
                {% endfor %}
            </table> 
        </div>

        <!-- challenge table -->
        <div class="column">
            <h>Challenge Rankings</h>
            <table class="challenge_ranking">
                <tr>
                    <th class="rank">Rank</th>
                    <th class="name">Name</th>
                    <th class="score">Score</th>
                    <th class="article">Read Article</th>
                </tr>
                {% for user in top_challenge %}
                <tr class="challenge_place">
                    <td>{{ loop.index }}</td>
                    <td><p>{{ user[1] }}</p></td>
                    <td>{{ user[0] }}</td>
                    <td>
                        <form action="/read" method="POST">
                            <input type="hidden" name="mode" value="{{user[3]}}">
                            <input type="hidden" name="user_id" value="{{user[2]}}">
                            <button type="submit">Read-It</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table> 
        </div>

        <!-- creative table -->
        <div class="column">
            <h>Creative Rankings</h>
            <table class="creative_ranking">
                <tr>
                    <th class="rank">Rank</th>
                    <th class="name">Name</th>
                    <th class="score">Score</th>
                    <th class="article">Read Article</th>
                </tr>
                {% for user in top_creative %}
                <tr class="creative_place">
                    <td>{{ loop.index }}</td>
                    <td><p>{{ user[1] }}</p></td>
                    <td>{{ user[0] }}</td>
                    <td>
                        <form action="/read" method="POST">
                            <input type="hidden" name="mode" value="{{user[3]}}">
                            <input type="hidden" name="user_id" value="{{user[2]}}">
                            <button type="submit">Read-It</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table> 
        </div>
    </div>
</body>
</html>
