<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css"> 
    <link rel="stylesheet" href="/static/css/rankings.css"> 

    <title>difficulty</title>
</head>

</body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/difficulty">Difficulty</a>
        <a href="/rankings">Rank Ladder</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <div class="ranking_container">
        <div class="ranking_ladder">
    </div>

</body>
</html>