<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css"> 
    <link rel="stylesheet" href="/static/css/read.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>read</title>
</head>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/difficulty">Difficulty</a>
    <a href="/rankings">Rank Ladder</a>
    <a href="/about">About</a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="auth-link">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="auth-link">Login</a>
        <a href="{{ url_for('create_account') }}" class="auth-link">Sign Up</a>
    {% endif %}
</div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essay Viewing Page</title>
    <style>

    </style>
</head>
<body>
   
    <div class="header-content">  
        {% if mode == "challenge" %}
            <h1 class = "mode">Challenge Mode🔥</h1>
        {% elif mode == "creative" %}
            <h1 class = "mode">Creative Mode🧠</h1> 
        {% else %}
            <h1 class = "mode">Normal Mode✏️</h1> 
        {% endif %}
        <img class="trophy" src="/static/images/book.png" alt="Trophy Image">

        
    </div>
    <h1 class = "user">{{username}}</h1>
    <div class="container">
        <p>
            {{essay}} 
        </p>
    </div>   
</body>

</html>